.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p:hover {
  color: #8447ff;
  scale: 1.1;
  transition: 300ms;
}
.h1 {
  font-size: 25px;
  color: #8447ff;
}
.btn-gerar-cor {
  border-radius: 5px;
  border: 2px solid transparent; /* Define a borda como transparente */

  color: #3219f6;
  font-weight: bold;
  background-color: #21dda2;
  cursor: pointer;
  align-items: center;
  align-self: center;
  padding: 10px;
}

.btn-gerar-cor:hover {
  background-color: transparent;
  border-color: #21dda2;
  color: #21dda2;
  transition: 500ms;
}

.div-app {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}
